.demo {
    width: 200px;
    height: 200px;
    background-color: #0f0;
}

.logitem {
    background-color: #eee;
    padding: 1px;
    margin: 1px;
    font-family: monospace;    
}

.logitem .timeandmodule {
    width: 200px;
    color: #007;    
    margin: 1px;
    background-color: #ddd;
    padding: 1px;
    font-size: 11px;
    text-align: center;
}

.logitem .module{
    color: #070;
}

.logitem .level {
    width: 50px;    
    margin: 1px;
    margin-left: 5px;
    background-color: #fff;
    color: #000;
    padding: 1px;    
    text-align: center;
}

.logitem.raw {
    background-color: #aaf;
}

.logitem.error .level {
    color: #700;
}

.logitem.warn .level {
    color: #770;
}

.logitem.info .level {
    color: #070;
}

.logitem.debug .level {
    color: #007;
}

.logitem.trace .level {
    color: #077;
}

.logitem .msg {    
    width: 899px;
    font-weight: bold;
    margin: 1px;
    margin-left: 5px;
    background-color: #333;
    color: #ff0;
    padding: 5px;    
}

.logitem.raw .msg {
    background-color: #ffa;
    color: #00f;
}

.logitem.error .msg {
    background-color: #ffa;
    color: #f00;
}

.log {
    width: 1200px;
    height: 500px;
    overflow: scroll;
    background-color: #ccc;
    padding: 1px;
    margin: 1px;
}
